<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Send Your Resume API | Node Js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css">
    <style>
      body {
        background: #222;
        color: #FFF;
      }
      .jumbotron {
        background-color:transparent !important;
      }
      .api {
        background-color: #00897B;
        padding: 3px;
      }
      .hire_me{
        font-size: 16px !important;
      }
      .container{
        margin-top: -50px !important;
      }

    </style>
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>Send Your Resume </h1>
      <p><span class='api'>Send Your Resume</span> and get Hired by us.</p>
      <p class = 'hire_me'>Want to work with us. Send us your resume here :</p>
      <p><span class='api'>http://localhost:3000/send-email</span></p>
    </div>
    <div class = 'container'>
      <div class = 'col-lg-3'>
      </div>
      <div class = 'col-lg-6'>
        <pre>
          <code class="language">
    Do Not Forget to send us:
    name : what you are called,
    contact_number : where we can contact you,
    profile : For which position you want to work with us,
    experience : Mention your experience in years,
    current_ctc : tell us your current ctc,
    expected_ctc : what should we offer you.
    Thats it!
          </code>
        </pre>
      </div>
    <div>
    </div>
  </body>
</html>
